.body {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 0.8fr 0.2fr;
  background-color: white;
  border-bottom: 8px solid orange;
  justify-content: center;
  padding: 0 30px 0 30px;
}

.list-item {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
}

#form-container{
  display: flex;
  flex-direction: column;
  margin: 0;
}
