<div class="container">
  <!-- flip-card-container -->
  <div class="flip-card-container" style="--hue: 220">
    <div class="flip-card">
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="{{ fact.imgURL }}" alt="Brohm Lake" />
          <figcaption>Cute Cat</figcaption>
        </figure>

        <ul>
          <li>{{ fact.fact }}</li>
        </ul>
      </div>

      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="{{ fact.imgURL }}" alt="Brohm Lake" />
        </figure>

        <button>This is a Cute Cat</button>

        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
    </div>
  </div>
  <!-- /flip-card-container -->
</div>
