.wrapper {
  height: 120px;
  width: 450px;
  margin: 10px 0 5px auto;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
  float: left;
  height: 120px;
  width: 90px;
}

.product-img img {
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 120px;
  width: 350px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text {
  height: 70px;
  width: 430px;
  margin: 0;
}

.product-text h1 {
  margin: 0 0 0 20px;
  font-size: 34px;
  color: #474747;
  font-weight: bold;
  font-size: small;
  width: 430;
}

.product-text h1,
.product-price-btn p {
  font-size: small;
  font-family: "Quicksand", sans-serif;
}

.product-text h2 {
  margin: 0 0 47px 38px;
  font-size: small;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.product-text p {
  height: 125px;
  margin: 0 0 0 25px;
  font-family: "Quicksand", sans-serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: small;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  height: 30px;
  width: 327px;
  margin-top: 55px;
  position: relative;
}

.product-price-btn p {
  display: inline-block;
  position: absolute;
  top: -70px;
  height: 30px;
  font-family: "Quicksand", sans-serif;
  margin: 0 0 0 20px;
  font-size: small;
  font-weight: lighter;
  color: #474747;
}

span {
  display: inline-block;
  height: 15px;
  font-family: "Quicksand", sans-serif;
  font-size: medium;
}

.product-price-btn button {
  display: inline-block;
  height: 20px;
  width: 130px;
  margin: 0 0 0 5px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: "Quicksand", sans-serif;
  font-size: smaller;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: orange;
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: #975a00;
}

.closeButton {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 5px 40px 0 330px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: orange;
  cursor: pointer;
  outline: none;
}
.closeButton:hover {
  background-color: #975a00;
}