.inputBox {
  margin: 10px 50px 50px 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 7px 7px 7px 7px;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  width: 220px;
  -webkit-box-shadow: 5px 14px 32px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 5px 14px 32px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 14px 32px 5px rgba(0, 0, 0, 0.15);
  position: fixed;
}
#labelBox {
  display: block;
  text-align: center;
  background-color: orange;
  border-radius: 5px 5px 5px 5px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
}
.formStyle {
  text-align: center;
  flex-direction: column;
  gap: 0.1rem;
  padding: 5%;
  color: black;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
#addInShop {
  display: inline-flex;
  height: 50px;
  width: 176px;
  justify-content: center;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: orange;
  cursor: pointer;
  outline: none;
}

#addInShop:hover {
  background-color: #975a00;
}

.inputRow {
  display: block;
}

input, textarea {
  border-radius: 5px 5px 5px 5px;
}


.addButton {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}
