.wrapper {
  height: 120px;
  width: 360px;
  margin: 10px auto 10px auto;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
  float: left;
  height: 120px;
  width: 90px;
}

.product-img img {
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 120px;
  width: 270px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 1%;
}

.product-text {
  height: 70px;
  width: 430px;
  margin: 0 0 0 20px;
}

.product-text h1 {
  font-size: 34px;
  color: #000000;
  font-weight: bold;
  font-size: small;
  width: 280px;
  margin-bottom: 0;
}

.product-text h1,
.product-price-btn p {
  font-size: small;
  font-family: "Quicksand", sans-serif;
}

.product-text h2 {
  font-size: small;
  font-family: "Quicksand", sans-serif;
  font-weight: normal;
  color: #000000;
}

.product-text p {
  width: 300px;
  height: 120%;
  font-family: "Quicksand", sans-serif;
  color: #000000;
  font-size: small;
  font-weight: lighter;
  overflow: hidden;
  margin-bottom: 0;
}

span {
  display: inline-block;
  height: 15px;
  font-family: "Quicksand", sans-serif;
  font-size: medium;
}

#addButt {
  display: inline-block;
  height: 20px;
  width: 50px;
  margin: 0 0 0 5px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: "Quicksand", sans-serif;
  font-size: smaller;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: orange;
  cursor: pointer;
  outline: none;
  padding: 0;
}

#addButt:hover {
  background-color: #198e1b;
}

#lessButt {
  display: inline-block;
  height: 20px;
  width: 50px;
  margin: 0 0 0 5px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: "Quicksand", sans-serif;
  font-size: smaller;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: orange;
  cursor: pointer;
  outline: none;
  padding: 0;
}

#lessButt:hover {
  background-color: #c01b1b;
}

.closeButton {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin: 5px 40px 0 240px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: "Quicksand", sans-serif;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #975a00;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 20px 32px 0px rgba(0, 0, 0, 0.15);
}
.closeButton:hover {
  background-color: red;
}

#editInShop {
  display: inline-block;
  height: 20px;
  width: 100px;
  margin: 0 0 0 5px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: "Quicksand", sans-serif;
  font-size: smaller;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  background-color: #F5DEB3;
  cursor: pointer;
  outline: none;
}

#editInShop:hover {
  background-color: #0e4b95;
  color: white;
}

form{
  width: 325px;
}

input{
  border-radius: 5px 5px 5px 5px;
}
